@using MVCTicariOtomasyon.Models.Siniflar;
@model List<Faturalar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
      
        <th>Seri-Sıra No</th>
       
        <th>Tarih</th>
        <th>Saat</th>
    
        <th>Toplam</th>
        <th>Güncelle</th>
        <th>Teslim Detaylar</th>
      
        <th>Yeni Kalem</th>
    </tr>
    @foreach (var k in Model)
    {

<tr>

    <td>
        @k.FaturaSeriNo @k.FaturaSıraNo
    </td>

   
    <td>
        @k.Tarih
    </td>
    <td>
        @k.Saat
    </td>


    <td>
        @k.Toplam
    </td>
    <td><a href="/Fatura/FaturaGetir/@k.FaturaID" class="btn btn-success">Güncelle</a></td>
    <td><a href="/Fatura/FaturaDetay/@k.FaturaID" class="btn btn-group" style="background-color:darkgrey;color:white">Detaylar</a></td>
    <td><a href="/Fatura/FaturaDetay/@k.FaturaID" class="btn btn-group" style="background-color:thistle;color:white"> Kalem</a></td>

</tr>
    }
</table>
<a href="/Fatura/FaturaEkle" class="btn btn-info">Yeni Fatura Girişi</a>
<br /><br />

<button type="button" class="btn btn-warning" style="background-color:#eaa3a3;color:white;" data-toggle="modal" data-target="#Modal1">Popup Penceresi</button>
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
           <div class="modal-header">
               <h2 class="modal-title">Popup dialog ekranı</h2>
           </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <tr>
                        <td>Seri No</td>
                        <td>Sıra No</td>
                        <td>Tutar</td>
                    </tr>
                    @foreach (var x in Model)
                    {
                        <tr>
                            <td>@x.FaturaSeriNo</td>
                            <td>@x.FaturaSıraNo</td>
                            <td>@x.Toplam</td>
                        </tr>
                    }

                </table>
                <button type="button" class="btn btn-danger" data-dismiss="modal" >Vazgeç</button>
            </div>
        </div>
    </div>
</div>
